src/*.exe
src/skycoin
src/skycoind
src/test_skycoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.skycoin

# Compilation and Qt preprocessor part
*.qm
Makefile
skycoin-qt
skycoin-Qt.app

# Unit-tests
Makefile.test
skycoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
